<Rules>
	<Rule name="defendnot">
		<InterfaceUUID>06bba54a-be05-49f9-b0a0-30f790261023</InterfaceUUID>
		<OpNum>13</OpNum>
		<Endpoint></Endpoint>
	</Rule>
	<Rule name="DCOM Invoked WebClient">
		<InterfaceUUID>c8cb7687-e6d3-11d2-a958-00c04f682e16</InterfaceUUID>
		<Endpoint>\PIPE\DAV RPC SERVICE</Endpoint>
	</Rule>
	<Rule name="Remote Registry Connection">
		<InterfaceUUID>338cd001-2244-31f1-aaaa-900038001003</InterfaceUUID>
		<Endpoint>\PIPE\winreg</Endpoint>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcOpenFileRaw">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>0</OpNum>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcEncryptFileSrv">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>4</OpNum>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcDecryptFileSrv">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>5</OpNum>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcQueryUsersOnFile">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>6</OpNum>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcQueryRecoveryAgents">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>7</OpNum>
	</Rule>
	<Rule name="Authentication Coercion using PetitPotam EfsRpcAddUsersToFile">
		<InterfaceUUID>c681d488-d850-11d0-8c52-00c04fd90f7e</InterfaceUUID>
		<OpNum>9</OpNum>
	</Rule>
	<Rule name="DCOM PPL Bypass via IDispatch interface">
		<InterfaceUUID>72566E27-1ABB-4EB3-B4F0-EB431CB1CB32</InterfaceUUID>
	</Rule>
</Rules>
